<% if(!user){ %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <a class="navbar-brand" href="/">CHOP</a>
            <li><a href="/registration">REGISTER</a></li>
            <li><a href="/login">LOGIN</a></li>
        </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<% } else { %>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/users/<%=user %>">MENU</a></li>
            <li><a href="/users/<%=user %>/orders">ORDER</a></li>
            <a class="navbar-brand" href="/">CHOP</a>
            <li><a href="/logout">LOGOUT</a></li>
        </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<% } %>