  <% include partials/_header %>

  <body>
    <h1 style = "margin-top: 80px;"> Menu </h1>
    <div id="menu-container"> 
        <!-- <section style = "margin-top: 30px;" class="menu"> 
            <section class="item-picture"><img id="item-picture" src=""></section>
            <div class="food-body"> 
                <div class="food-title"> 
                  <p class="food-name"> Pizza</p>
                  <p class="food-price">$14.99</p>
                </div>
                <section class="food-description"> Thin Crust Pepperoni Cheese Pizza, 17" </section>
            </div>
            <section> 
                <div class="decrease">-</div>
                <div class="quantity">1</div>
                <div class="increase">+</div>
           </section>   -->
    </div>
        <section id="orderButton-container"> 
             <a class="order-button" href="/orderid">ADD TO ORDER</a>
           </section>
        </section>
  
  </body>
</html>
