<% include partials/_header %>
  <body class="col-offset-3">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MZR Food APP</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/menus">Menus</a></li>
              <li><a href="/api/orders">Orders</a></li>
              <li><a href="/api/users">Users</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>



<% if(user === undefined) { %>
<p> You need to be logged in and own this url to see this page </p>

   <a href="/login/1">
          <button class="login-btn"> login </button>
        </a>

<% } else { %>
<div></div>

    <div class="col-lg-6">
    <h1 style = "margin-top: 80px;"> Menu </h1>
    <table class="table table-hover table-bordered">
      <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th colspan="3">QTY</th>
      </thead>
      <tbody id="menu-container">
      </tbody>
    </table>
    <div class="col-lg-6">
        <a class="order-button" href="#">
          <button class="btn btn-primary" id="cookies"> ADD TO ORDER </button>
        </a>
    </div>
</br></br></br></br></br>
  </div>

  <% } %>

      <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/js.cookie.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>


