<% include partials/_header %>

</head>
  <body>
    <div class="col-lg-9">
      <p class="userID">
        <%= user_id %>
      </p>
      <p class="orderID">
        <%= order_id %>
      </p>
      <h1 style = "margin-top: 80px;"> Order Details</h1>
      <h4>
        Client Name: <span id="username"></span>
      </h4>
      <table class="table table-hover table-bordered">
        <thead>
          <th>Food Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Qty</th>
          <th>Sub Total</th>
        </thead>
        <tbody id="order-details">
        </tbody>
      </table>
      <table class="table table-hover table-bordered">
        <tr>
          <th>Total: </th>
          <th><div id="total">$</div></th>
        </tr>
      </table>

    <a href="/users/<%= user_id %>/orders">
      <button class="btn btn-success">Back to Order list</button>
    </a>
    </div>
  </body>
    <script src="/scripts/orders_details.js"></script>

</html>


