<% include partials/_header %>

</head>

  <body>
    <div id="order-container">
    <h1 style = "margin-top: 80px;"> Order </h1>
    <!-- <div style = "margin-top: 30px;" id="order-container">
        <section class="order">
            <p class="food-order-quantity">1</p>
            <p class="food-order-name">pizza</p>
            <p class="food-order-price">$14.99 </p>
        </section>
    </div> -->
    <section>
        <p class="total">Total</p>
        <p class="total-amount">$0.00</p>
    </section>
    <section id="confirmation">
        <a class="place-order-button" href="/user_id/order">PLACE ORDER</a>
        <a class="cancel-order-button" href="/menu">CANCEL ORDER</a>
    </section>
  </body>
</html>


