<% include partials/_header %>

</head>

  <body>
    <div style = "margin-top: 30px;" id="order-history"> 
        <section class="past-order"> 
            <p class="restaurant-name">1</p>
            <p class="datetime"> Sept 27, 2017 </p>
            <p class="price"> $20.00</p>
        </section>  
    </div>
    <section id="new-order"> 
        <a class="back-button" href="/menu">GO BACK TO MENU</a>
    </section>
  </body>
</html>