<% include partials/_header %>

</head>
  <script type="text/javascript">
    $(document).ready(function(){
      $('form').on('submit', function(e) {
        e.preventDefault();
        console.log($(this).attr('action'));

        $.ajax({
            method: "POST",
            url: $(this).attr('action'),
            data: JSON.stringify(
            {
                user_id: 12,
                vendor_id: 5,
                food: [
                    {id: 10, qty: 5},
                    {id: 12, qty: 2},
                    {id: 13, qty: 1}
                ]
            }),
            contentType: 'application/json',
            dataType: 'json',
            success: function(data, responseCode, jqXHR) {
                window.location = "/";
            }
        })
      });
    })

  </script>

  <body>
    <div class="col-lg-9">
      <form action="/orders" method="POST">

        <button type="submit" class="btn btn-danger">Orders_Food</button>
      </form>
      <p class="orderNum">
        <%= id %>
      </p>
      <h1 style = "margin-top: 80px;"> Order Details</h1>
      <h4>
        Client Name: <span id="username"></span>
      </h4>
      <table class="table table-hover table-bordered">
        <thead>
          <th>Food Name</th>
          <th>Food Qty</th>
          <th>Address</th>
        </thead>
        <tbody id="order-details">
        </tbody>
      </table>
    </div>
  </body>
    <script src="/scripts/orders_details.js"></script>

</html>


