<% include partials/_header %>

<!-- </head>
 -->  <body>
    <div class="col-lg-9">
    <h1 style = "margin-top: 80px;"> Order History</h1>
    <h4>
      Client Name: <span id="username"></span>
    </h4>
    <p data-userID="<%= id %>" class="userID"></p>

    <div class="progress">
      <div id="dynamic" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span id="current-progress"></span>
      </div>
    </div>

    <table class="table table-hover table-bordered">
      <thead>
        <th>Order No</th>
        <th>Restaurant</th>
        <th>Address</th>
        <th> Phone No</th>
        <th>Date</th>
        <th>Status</th>
        <th>Details</th>
      </thead>

      <tbody id="order-container">
      </tbody>
    </table>
  </div>

  </body>
  <script src="/scripts/orders_history.js"></script>

</html>
