<% include partials/_header %>
 <body>
    <% include partials/_navbar %>
  <div class="col-lg-9">
    <h1 style = "margin-top: 80px;"> Order History</h1>
    <h4>
      Client Name: <span id="username"></span>
    </h4>
    <p class="userID" data-id="<%= user %>"></p>

    <div class="progress">
      <div id="dynamic" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span id="current-progress"></span>
      </div>
    </div>
    <table class="table table-hover table-bordered">
      <thead>
        <th>Order No</th>
        <th>Restaurant</th>
        <th>Address</th>
        <th> Phone No</th>
        <th>Date</th>
        <th>Status</th>
        <th>Details</th>
      </thead>

      <tbody id="order-container"></tbody>
    </table>
  </div>
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" data-show>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Order Accepted</h4>
        </div>
      <div class="modal-body">
      <p>Please check your sms for order pickup time!</p>
    </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>
  <script src="/scripts/orders_history.js"></script>
</body>
</html>

