<% include partials/_header %>

</head>

  <body>
    <div class="col-lg-9">
    <h1 style = "margin-top: 80px;"> Order History</h1>
    <h4>
      Client Name: <span id="username"></span>
    </h4>
    <p class="orderNum">
       User ID: <%= id %>
    </p>
    <table class="table table-hover table-bordered">
      <thead>
        <th>Order No</th>
        <th>Restaurant</th>
        <th>Address</th>
        <th> Phone No</th>
        <th>Date</th>
        <th>Completed</th>
        <th>Details</th>
      </thead>
      <tbody id="order-container">
      </tbody>
    </table>
  </div>

  </body>
  <script src="/scripts/orders_history.js"></script>

</html>
