<% include partials/_header %>
  <form action="/registration" method="POST" style="margin:50px;">
    <label for="email">Enter your email:</label>
    <input id="email" type="email" name="email" placeholder="example@mail.com" style="width: 150px">
    <p></p>
      <label for="password">Enter a password:</label>
    <input id="password" type="password" name="password" placeholder="password" style="width: 150px">
    <p></p>
    <label for="userName">Enter your name:</label>
    <input id="userName type="password" name="userName" placeholder="Your Name" style="width: 150px">
    <p></p>
    <label for="userPhone">Enter your phone Number:</label>
    <input id="userPhone type="password" name="userPhone" placeholder="Your Phone#" style="width: 150px">
    <p></p>
    <input class="submit-btn" type="submit" value="Submit">
  </form>
</body>
</html>