<p>Client id: 4</p>
<p>Client email: gurlz_rule_boyz_drool@yahoo.com</p>
<p>Client phone: 1-416-502-2869</p>
<p>Ordered at: 12:45 PM August 12 2017</p>
<p>food name: Kung Pao Chicken</p>
<p>quantity: 4</p>
<p>food name: Ma po Tofu</p>
<p>quantity: 2</p>


