body { 
    padding-top: 100px; 
}

.navbar-brand,
.navbar-nav
    li
        a {
            line-height: 100px;
            height: 100px;
            padding-top: 0;
        }

.navbar-nav > li {
    padding-left:40px;
    padding-right:40px;
    color: #fff;
}

// carousel
#carousel-example-generic {
    width: 100%; 
    max-width: 960px;
    margin: 0 auto;
}

//registration form
.formContainer {
    width: 50%;
    margin: 0 auto;
}

.loginFormContainer {
    width: 50%;
    margin: 0 auto;
}

.panel.panel-default {
    height: 300px;
    
}

#panel-body {
    margin-top: 50px;  
}

.bodyContainer {
    width: 60%;
    margin: 0 auto;
}

.navbar-inverse {
    background-color: #000;
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.logoPic {
    width: 80px;
    height: 70px;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 36px;
}

.title {
    color: white;
}

#bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#confirmInfo {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

 
#myModal {
    top: 34%;
    outline: none;
}

.buttonGroup {
    display: flex;
    justify-content: space-around;
}

.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}